
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}
html{
	height: 100%;
}
body{
	min-height: 100%;
}


.contenedor{
    border-top: 3px solid #572ee5;
    overflow: hidden;
}


//Estilos reutilizables
@mixin fuentes($fuentes, $color, $tamano, $peso) 
{
    font-family: $fuentes;
    color: $color;
    font-size: $tamano;
    font-weight: $peso;
}
  
@mixin opacidad($opacidad) 
{
    background: rgba(87, 46, 229, $opacidad);
}

//modo oscuro
.Modo-Oscuro 
{
    .contenedor 
    {
        border-top: 5px solid #000;
        background-color: #37383c;
        header 
        {
            nav 
            {
                #logo_gifos {
                    content: url('/assets/logo-mobile-modo-noct.svg');
                }
                .menu_hamburguesa {
                    content: url('/assets/burger-modo-noct.svg');
                }
                .close-menu_hamburguesa
                {
                    content: url('/assets/close-modo-noct.svg');
                }
                .content-menu  
                {
                    background-color: #000;
                    .content-menu-item  
                    {
                        color: #fff;
                    }
                    .plus-content-menu-item  
                    {
                        content: url('/assets/CTA-crear-gifo-modo-noc.svg');
                        &:hover 
                        {
                            content: url('/assets/CTA-crear-gifo-hover-modo-noc.svg');
                        }
                        &:active 
                        {
                            content: url('/assets/CTA-crear-gifo-active-modo-noc.svg');
                        }
                    }
                }
            }
           
        }

        //Cuerpo
     
    }
}