@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%; }

.contenedor {
  border-top: 3px solid #572ee5;
  overflow: hidden; }

.Modo-Oscuro .contenedor {
  border-top: 5px solid #000;
  background-color: #37383c; }
  .Modo-Oscuro .contenedor header nav #logo_gifos {
    content: url("/assets/logo-mobile-modo-noct.svg"); }
  .Modo-Oscuro .contenedor header nav .menu_hamburguesa {
    content: url("/assets/burger-modo-noct.svg"); }
  .Modo-Oscuro .contenedor header nav .close-menu_hamburguesa {
    content: url("/assets/close-modo-noct.svg"); }
  .Modo-Oscuro .contenedor header nav .content-menu {
    background-color: #000; }
    .Modo-Oscuro .contenedor header nav .content-menu .content-menu-item {
      color: #fff; }
    .Modo-Oscuro .contenedor header nav .content-menu .plus-content-menu-item {
      content: url("/assets/CTA-crear-gifo-modo-noc.svg"); }
      .Modo-Oscuro .contenedor header nav .content-menu .plus-content-menu-item:hover {
        content: url("/assets/CTA-crear-gifo-hover-modo-noc.svg"); }
      .Modo-Oscuro .contenedor header nav .content-menu .plus-content-menu-item:active {
        content: url("/assets/CTA-crear-gifo-active-modo-noc.svg"); }

header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px; }
  header nav #logo_gifos {
    content: url("/assets/logo-mobile.svg");
    padding: 10px 50px 20px;
    cursor: pointer; }
  header nav .menu_hamburguesa {
    cursor: pointer;
    padding: 10px 50px 20px;
    content: url("/assets/burger.svg"); }
  header nav .close-menu_hamburguesa {
    content: url("/assets/close.svg"); }
  header nav .content-menu {
    background: rgba(87, 46, 229, 0.9);
    height: 100%;
    display: none;
    position: absolute;
    top: 90px; }
  header nav .display-content-menu {
    display: block; }
  header nav ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 20.2px; }
    header nav ul li {
      cursor: pointer;
      list-style: none;
      padding-top: 17px; }
      header nav ul li .content-menu-item {
        width: 100vw;
        text-transform: capitalize;
        font-family: "Montserrat", sans-serif;
        color: #fff;
        font-size: 20px;
        font-weight: 800; }
      header nav ul li .linea-separador {
        margin: auto;
        width: 70px;
        padding-top: 10px;
        border-bottom: 1px solid #fff; }
    header nav ul .crear-menu-item {
      display: none; }

.content-menu-item {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

.content-menu-item:hover, a:focus {
  color: #5ed7c6;
  margin: 3px auto;
  padding: 1px;
  opacity: 2;
  font-size: 16px;
  background-size: 100% 2px; }

@media screen and (min-width: 768px) {
  header nav {
    justify-content: space-between; }
    header nav .menu_hamburguesa {
      display: none; }
    header nav #logo_gifos {
      padding-top: 3vw; }
    header nav .content-menu {
      display: block;
      height: inherit;
      background: transparent !important;
      position: unset;
      padding: 1vh 7.1vw 1vh 0; }
      header nav .content-menu ul {
        flex-direction: row;
        justify-content: space-between;
        padding-top: unset;
        width: 50vw; }
        header nav .content-menu ul li .content-menu-item {
          color: #572ee5;
          font-size: 13px;
          text-transform: uppercase; }
          header nav .content-menu ul li .content-menu-item:hover {
            text-decoration: underline;
            text-decoration-color: #5ed7c6;
            text-decoration-thickness: 4px; }
          header nav .content-menu ul li .content-menu-item:active {
            color: #9cafc3;
            text-decoration: none; }
        header nav .content-menu ul li .linea-separador {
          display: none; }
        header nav .content-menu ul .crear-menu-item {
          display: block; }
          header nav .content-menu ul .crear-menu-item:hover {
            content: url("../assets/CTA-crear-gifo-hover.svg"); }
          header nav .content-menu ul .crear-menu-item:active {
            content: url("../assets/CTA-crear-gifo-active.svg"); } }
@media screen and (min-width: 1024px) {
  header nav #logo_gifos {
    padding-top: 10px;
    content: url("../assets/logo-desktop.svg"); }
  header nav .content-menu ul {
    width: 60vw; } }

/*# sourceMappingURL=styles.css.map */
